<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>OCR-web_service</title>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
    <div class="header">
        <h3 class="header-title">OCR-web_service</h3>
    </div>
    <div class="wrap">
        <div class="content">
        </div>
        <div class="option-box">
            <p>언어 설정</p>
            <select name="lang" id="lang" class="option-box">
                <option value="eng">영어</option>
                <option value="kor">한국어</option>
                <option value="eng+kor">영어+한국어</option>
            </select>
            <p>정확도 옵션</p>
            <select name="opencv" id="opencv" class="option-box">
                <option value="default">사용하지 않음</option>
                <option value="use">그레이 스케일</option>
            </select>
            <a class="send" href="javascript:uploadServer();">OCR 변환</a>
        </div>
            <textarea id="ocr-textdata" rows="5" cols="33" placeholder="변환된 텍스트가 올 영역입니다.">{{output}}</textarea>
            <script>
                $('.content')
            .on("dragover", dragOver)
            .on("dragleave", dragOver)
            .on("drop", uploadFiles);
            var IMG;
            var FILE;
            function dragOver(e){
            	e.stopPropagation();
            	e.preventDefault();
            	if (e.type == "dragover") {
            		$(e.target).css({
            			"background-color": "black",
            			"outline-offset": "-20px"
            		});
            	} else {
                	$(e.target).css({
            			"background-color": "gray",
            			"outline-offset": "-10px"
            		});
                }
            }
            function uploadFiles(e) {
                e.stopPropagation();
                e.preventDefault();
                dragOver(e);
            
                e.dataTransfer = e.originalEvent.dataTransfer;
                var files = e.target.files || e.dataTransfer.files;
                if (files.length > 1) {
                    alert('한 개씩만 업로드가 가능합니다.');
                    return;
                }
                console.log(files[0]);
                if (files[0].type.match(/image.*/)) {
                    FILE = files[0];
                    IMG = window.URL.createObjectURL(files[0]);
                        $(e.target).css({
                        "background-image": "url(" + IMG + ")",
                        "outline": "none",
                        "background-size": "contain",
                        "background-repeat": "no-repeat",
                        "background-position": "center"
                        //"background-size": "cover"
                        //"background-size": "300px 300px"
                    });
                }
                else {
                  alert('이미지가 아닙니다.');
                  return;
                }
            }
            function uploadServer(){
                    //var form = FILE;
                    if(FILE){
                        var lang = $("#lang option:selected").val();
                        var opencv = $("#opencv option:selected").val();
                        var formData = new FormData();
                        formData.append("file", FILE);
                        formData.append("lang", lang);
                        formData.append("opencv", opencv);
                        $.ajax({
                            url: '/upload',
                                processData: false,
                                contentType: false,
                                data: formData,
                                type: 'POST',
                                success: function(response){
                                    if(response){
                                        $("#ocr-textdata").val(response);
                                    }
                                }
                            });
                    }
                    else {
                        alert('이미지를 먼저 업로드 해주세요.');
                    }
            }
        </script>
    </body>
</html> 